
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: justify;
    line-height: 25px;
    gap: 100px;
    max-width: 100%;
    font-size: 18px;
    margin: auto;
}
.about-content a{
    color:#777;
    text-decoration: none;
}
.about-content a:hover{
    color:#fff;
}
.about-image {
    width: 150px;
    height: auto;
}

.about-text {
    max-width: 600px;
    text-align: left;
    color:#777;
}
.about-text a{
    margin-left:0;
    padding-left:0;
}

